body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(65, 8, 11);
}
/*Logo*/
header .logo h1{
    margin-left: 20px;
    font-family: 'Arial', sans-serif;
    }
    header .logo {
        display: flex;
        align-items: center;
    }
    header .logo h1 {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    header .logo .emoji {
        font-size: 1.7rem;
        margin-right: 2px;
    }
/*Header*/
header{
    background-color: rgb(65, 8, 11);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
/*Navegacion*/
header nav{
    margin-right: 20px;
    margin-top: 0px;
    padding: 0px;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
header nav ul li{
    margin: 2px;
    padding: 10px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2px;
    border-radius: 20px;
}
header nav ul li:hover{
    background-color:rgb(248, 170, 0);
    border-radius: 20px;
}
/*Section cafe*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .texto-cafe{
    text-align: left;
}
section .texto-cafe h3{
    color: rgb(248, 170, 0);
    font-size: 1.25rem;
    font-family: 'Arial', sans-serif;
}
section .texto-cafe h2{
    color: white;
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
}
section .texto-cafe p{
    color: white;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    width: 50%;
}
/*Botones*/
section .texto-cafe button{
    background-color: rgb(248, 170, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    border-radius: 20px;
    align-items: left;
    margin-top: 20px;
    margin-left: 10px;
}
/*Imagen cafe*/
section .img-cafe img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}
